{
  "annotations": {
    "list": [
      {
        "builtIn": 1,
        "datasource": "-- Grafana --",
        "enable": true,
        "hide": true,
        "iconColor": "rgba(0, 211, 255, 1)",
        "name": "Annotations & Alerts",
        "type": "dashboard"
      }
    ]
  },
  "editable": true,
  "gnetId": null,
  "graphTooltip": 0,
  "id": null,
  "links": [],
  "panels": {{panels|tojson}},
  "refresh": "5m",
  "schemaVersion": 27,
  "style": "dark",
  "tags": ["api-monitor", "{{device.type}}", "{{device.name}}"],
  "templating": {
    "list": [
      {
        "allValue": null,
        "current": {
          "selected": true,
          "text": "{{device_name}}",
          "value": "{{device_name}}"
        },
        "datasource": "Prometheus",
        "definition": "label_values(device_name)",
        "description": null,
        "error": null,
        "hide": 0,
        "includeAll": false,
        "label": "Device",
        "multi": false,
        "name": "device",
        "options": [],
        "query": {
          "query": "label_values(device_name)",
          "refId": "StandardVariableQuery"
        },
        "refresh": 1,
        "regex": "",
        "skipUrlSync": false,
        "sort": 1,
        "tagValuesQuery": "",
        "tags": [],
        "tagsQuery": "",
        "type": "query",
        "useTags": false
      }
    ]
  },
  "time": {
    "from": "now-6h",
    "to": "now"
  },
  "timepicker": {},
  "timezone": "",
  "title": "{{title}}",
  "uid": "{{uid}}",
  "version": 1
}